build_*
.DS_Store
.env*
.idea/
.vscode/
.cache/
.trash/
.tmp/
dist/
target/
bower_components/
node_modules/
npm-debug.log*
npm-shrinkwrap.json
yarn-debug.log*
yarn-error.log*
yarn.lock
selenium-debug.log
