@font-face {
  font-family: 'TeX Gyre Pagella';
  font-style: normal;
  font-weight: 400;
  src: url('./texgyrepagella-regular.otf');
}

@font-face {
  font-family: 'TeX Gyre Pagella';
  font-style: italic;
  font-weight: 400;
  src: url('./texgyrepagella-italic.otf');
}

@font-face {
  font-family: 'TeX Gyre Pagella';
  font-style: normal;
  font-weight: 700;
  src: url('./texgyrepagella-bold.otf');
}

@font-face {
  font-family: 'TeX Gyre Pagella';
  font-style: italic;
  font-weight: 700;
  src: url('./texgyrepagella-bolditalic.otf');
}